/* ------------------------------------
                Reset
------------------------------------ */
* {
    margin: 0;
    padding: 0;
}

/* ------------------------------------
                Theme
------------------------------------ */
:root {
    --theme: blue;
    --theme-white: white;
    --theme-black: black;
}

/* ------------------------------------
                Header
------------------------------------ */


/* ------------------------------------
              Navigation
------------------------------------ */